.glyphselectbutton, .glyphselectbuttonsel {
  width: 48px;
  height: 48px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 2em;
  color: #ccd1d6;
  background-color: #fafcff;
  font-size: 25px;
  overflow: hidden;
  display: block;
  clear: both;
  cursor: pointer;
}

.glyphselectname {
  width: 500px;
  height: 24px;
  padding-top: 4px;
  overflow: hidden;
  color: #7f8689;
}
.glyphselect {
  display: inline;
  float: left;
  width: 50px;
  overflow: hidden;
  padding: 10px 2px 0px 10px;
}
