@import './colors';
@import './Animations';

#flyout-primary {
  border-left-color: $blue-l80;
}

#flyout-secondary {
  border-left-color: $blue-l85;
}

#flyout-tertiary {
  border-left-color: $blue-l90;
}

.flyout {
  position: absolute;
  top: 0px;
  left: 399px;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  background-color: $offwhite;
  z-index: 9999;
  padding: 0px;
  min-width: 250px;
  border-left-style: solid;
  border-left-width: 20px;
  animation: 0.2s fadein;

  .content {
    max-height: 90vh;
    overflow-y: scroll;
    flex: 1 1;
    display: block;
    padding: 0px 0px 12px 10px;
  }

  .controls {
    flex: 0 0 24px;
    text-align: right;
    height: 24px;
    background-color: transparent;
    display: block;
    width: 100%;
    margin-bottom: 5px;

    button {
      height: 24px;
      width: 24px;
      background-color: transparent;
      padding: 6px;
      font-size: 8px;
      color: $gray-l80;
      fill: $gray-l80;
      border-radius: 0 !important;

      &:hover {
        color: $blue-l90;
        fill: $blue-l90;
        background-color: $blue-l60;
      }
    }
  }
}

.flyout-pagechoice {
  .content {
    button {
      display: block;
      width: 100%;
      padding: 6px 4px 6px 11px;
      margin: 0px 0px 5px 0px;
      font-size: 1.2em;
      color: $gray-l50;
      text-align: left;
      background-color: $offwhite;
      border-left: 5px solid $offwhite;
      border-radius: 0;

      &:hover {
        background-color: $blue-l95;
        color: $blue-l50;
        border-left-color: $blue-l80;
      }

    }

    button.selected {
      color: $blue-l60;
      border-left: 5px solid $blue-l80;

      &:hover {
        color: $blue-l60;
        cursor: default;
        background-color: $offwhite;
      }
    }
  }
}