@import './Reset';
@import './colors';

.panel {
  display: flex;
  flex-direction: column;
  background-color: $offwhite;
}

.panel-showtray {
  @extend .panel;
  flex: 2 0;
}

.pagechoices {  
  button {
    display: block;
    width: 100%;
    padding: 6px 4px 6px 11px;
    margin: 0px 0px 5px 0px;
    font-size: 1.2em;
    color: $gray-l50;
    text-align: left;
    background-color: $offwhite;
    border-left: 5px solid $offwhite;
    border-radius: 0;

    &:hover {
      background-color: $blue-l95;
      color: $blue-l50;
      border-left-color: $blue-l80;
    }

  }
  
  button.selected {
    color: $blue-l60;
    border-left: 5px solid $blue-l80;

    &:hover {
      color: $blue-l60;
      cursor: default;
      background-color: $offwhite;
    }
  }
}
