.panel-field:nth-of-type(n+1) {
  margin-top: 25px;
}
.panel-field {
  overflow: auto; /* we've got some floatnig elements */
  h3 {
    color: #003f5f;
    font-size: 1.3em;
    padding: 0 1em .3em 0;
    text-transform: lowercase;
  }

  .detailtitle {
    padding-bottom: 2px;
  }

  input {
    float: right;
    margin: 0;
  }

  input, label {
    cursor: pointer;
  }

  input, textarea {
    padding: 0 0 0 4px;
    height: 24px;
    width: 70px;
    text-align: left;
    background-color: #fff;
    color: #191e23;
    border: none;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    vertical-align: middle;
  }

  input[type=number][disabled],
  input[type=text][disabled] {
    border-width: 0;
    background-color: #ccd1d6;
    color: #7f8689;
  }

  .unit {
    font-size: 10px;
    color: #7f8689;
    padding-left: 4px;
  }
}