.access-input.group {
  overflow: hidden;

  .input {
    position: relative;
    display: inline-block;
    float: right;

    input:focus {
      border-bottom: 2px solid #0AF;
    }

    input {
      float: none;
      vertical-align: top;
      height: 26px;
      display: inline-block;
      font-family: Consolas;
      font-size: 15px;
    }

    input[disabled] {
      cursor: not-allowed;
    }

    svg {
      cursor: pointer;
      background: #fff;
    }

    svg.check  {
      background: transparent;
      padding: 5px;
      width: 18px;
      height: 16px;
      fill: rgb(0, 170, 255);
    }

    .disabled svg.check {
      background: transparent;
      padding: 5px;
      width: 18px;
      height: 16px;
      & * {
        fill: #ccd1d6;
      }
    }


    i.disabled svg {
      background: #ccd1d6;
    }

    i.disabled svg * {
      fill: rgb(0, 170, 255);
    }
  }
}