@import "colors";

.panel-header {
    display: flex;
    flex-direction: row;
    flex: 0 0;

    .bar {
        display: flex;
        flex: 1 0;
        flex-direction: row;
        flex-basis: 400px;
        &:hover { cursor: pointer; }

        .icon {
            display: flex;
            text-align: center;
            vertical-align: middle;
            height:100%;
            width:44px;
            svg { margin: auto; }
        }

        .title {
            display: flex;
            flex: 2;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: left;
            height: 100%;
            font-family: OpenSansLight, Tahoma, Verdana, sans-serif;
        }

        .chevron {
            display: flex;
            text-align: right;
            vertical-align: middle;
            height:100%;
            width:44px;
            svg { margin: auto; }
        }
    }
}

.panel-header-primary {
    @extend .panel-header;

    .bar {
        height:44px;
        flex-basis:44px;
        background-color: $blue-l80;
        &:hover .chevron svg { fill: $blue-l35; }

        .icon {
            color: $blue-l35;
            svg { fill: $blue-l35; }
        }

        .title {
            color: $blue-l35;
            font-size:24px;
            padding-top:10px;
        }

        .chevron svg { fill: $blue-l70; }
    }
}

.panel-header-secondary {
    @extend .panel-header;

    .bar {
        height:40px;
        flex-basis:40px;
        background-color: $blue-l85;
        &:hover .chevron svg { fill: $blue-l40; }

        .icon {
            color: $blue-l40;
            svg { fill: $blue-l40; }
        }

        .title {
            color: $blue-l40;
            font-size:20px;
            padding-top:10px;
        }

        .chevron svg { fill:$blue-l75; }
    }
}

.panel-header-tertiary {
    @extend .panel-header;
    flex: 0 0 auto;

    .bar {
        height:36px;
        flex-basis:36px;
        background-color: $blue-l90;
        &:hover .chevron svg { fill: $blue-l45; }

        .icon {
            color: $blue-l45;
            svg { fill: $blue-l45; }
        }

        .title {
            color: $blue-l45;
            font-size:16px;
            padding-top:10px;
        }

        .chevron svg { fill: $blue-l80; }
    }
}